.footer {
  .notice-container {
    a {
      font-size: 0.625rem;
      color: $light;
      vertical-align: bottom;
      font-weight: 100;
      svg {
        margin-right: 5px;
        vertical-align: -webkit-baseline-middle;
      }
      &:hover {
        color: $pink;
      }
    }
    a.social-link {
      margin-left: 1rem;
      &:first-child {
        margin: 0;
      }
    }
    h4 {
      margin-top: 10px;
      margin-bottom: 0;
    }
  }
  hr {
    margin: 10px 0;
    padding: 0;
    background: $light;
    border: none;
    height: 1px;
    opacity: 0.1;
  }
}