.footer {
  .notice-container {
    a {
      font-size: 0.625rem;
      color: $light;
      vertical-align: bottom;
      font-weight: 100;
      svg {
        margin-right: 5px;
      }
    }
    a.social-link {
      margin-left: 1rem;
      &:first-child {
        margin: 0;
      }
    }
    h4 {
      margin-top: 10px;
      margin-bottom: 0;
    }
  }
}